.App{
  align-items: center;  
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  position: relative;
}

.author{
  position: absolute;
  bottom: 10px;
  text-decoration: none;
  color: #52ffa8;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 12px;

}